<div>
  <p> <%= link_to t('shared.back'), :back %> </p>

  <div>
    <%= form_with model: array_model do |f| %>
      <%= f.label :title, t('challenges.attr.title') %>
      <br>
      <%= f.text_field :title %>
      <br>
      <br>

      <%= f.label :description, t('challenges.attr.description') %>
      <br>
      <%= f.rich_text_area :description, size: "70x5" %>
      <br>
      <br>

      <%= f.label :github_url, t('challenges.attr.url') %>
      <br>
      <%= f.text_field :github_url %>
      <br>
      <br>

      <%= f.label :duration, t('challenges.attr.duration.label') %>
      <br>
      <%= f.number_field :duration, in: 10..1000, step: 10 %>
      <br>
      <br>

      <%= f.label :difficulty, t('challenges.attr.difficulty.label') %>
      <br>
      <%= f.number_field :difficulty, in: 1..10 %>
      <br>
      <br>
      <%= f.label :files, t('challenges.attr.files') %>
      <br>
      <%= f.file_field :files, multiple: true, accept: 'application/zip' %>
      <br>
      <br>

      <%= f.label :signature, t('challenges.attr.signature') %>
      <br>
      <%= f.text_field :signature %>
      <br>
      <br>

      <%= f.submit t('shared.submit_form') %>
    <% end %>
  </div>
</div>
