<% if current_user.admin %>
  <hr>
  <div> <%= link_to t('shared.link_admin_version'), staff_challenges_path %> </div>
  <hr>
<% end %>

<div> <%= link_to t('shared.back'), :back %> </div>
<div> <%= link_to t('challenges.new-challenge'), new_login_challenge_path %> </div>
<hr>

<h3>Challenges#index</h3>

<br>
<hr>
<br>
<table class='table'>
  <thead>
  <tr>
    <th scope='col'> <%= t('shared.attr.title') %> </th>
    <th scope='col'> <%= t('shared.attr.description') %> </th>
    <th scope='col'> <%= t('repositories.attr.github_url') %> </th>
    <th scope='col'> <%= t('challenges.attr.signature') %> </th>
    <th scope='col'> <%= t('challenges.attr.difficulty.label') %> </th>
    <th scope='col'> <%= t('challenges.attr.duration.label') %> </th>
    <th scope='col'> <%= t('shared.link_show') %> </th>
    <th scope='col'> <%= t('challenges.attr.files') %> </th>
  </tr>
  </thead>
  <tbody> <%= render challenges %> </tbody>
</table>
