<div class='space-between'>
  <h3> <%= t('challenges.index', total: challenges.count) %></h3>
  <div class='container-row'>
    <% if current_user.admin %>
      <div> <%= link_to t('shared.link_admin_version'), staff_challenges_path, class: 'button' %> </div>
    <% end %>
    <div> <%= link_to t('challenges.new-challenge'), new_login_challenge_path, class: 'button margin-left-md' %> </div>
    <div> <%= link_to t('shared.back'), :back, class: 'button button-notice margin-left-md' %> </div>
  </div>
</div>

<br>

<%= render 'login/challenges/search' %>

<table class='table'>
  <thead>
  <tr>
    <th scope='col'> <%= t('shared.attr.title') %> </th>
    <th scope='col'> <%= t('shared.attr.description') %> </th>
    <th scope='col'> <%= t('repositories.attr.github_url') %> </th>
    <th scope='col'> <%= t('challenges.attr.signature') %> </th>
    <th scope='col'> <%= t('challenges.attr.difficulty.label') %> </th>
    <th scope='col'> <%= t('challenges.attr.duration.label') %> </th>
  </tr>
  </thead>
  <tbody> <%= render challenges %> </tbody>
</table>
