<% if current_user.admin %>
  <hr>
  <div> <%= link_to t('shared.link_admin_version'), staff_challenge_path(challenge) %> </div>
  <hr>
<% end %>
<div> <%= link_to t('shared.back'), :back %> </div>
<div> <%= link_to t('answers.links.new-answer'), new_login_challenge_answer_path(challenge) %> </div>
<% if current_user.owns_challenge?(challenge.id) %>
  <div> <%= link_to t('staff.doc_links.new.link-challenge-answer'), new_login_doc_link_path %> </div>
<% end %>
<hr>

<h3> <%= t('challenges.show.title', title: challenge.title) %> </h3>
<table class='table'>
  <thead>
  <tr>
    <th scope='col'> <%= t('shared.attr.title') %> </th>
    <th scope='col'> <%= t('shared.attr.description') %> </th>
    <th scope='col'> <%= t('repositories.attr.github_url') %> </th>
    <th scope='col'> <%= t('challenges.attr.signature') %> </th>
    <th scope='col'> <%= t('challenges.attr.difficulty.label') %> </th>
    <th scope='col'> <%= t('challenges.attr.duration.label') %> </th>
    <th scope='col'> <%= t('shared.link_show') %> </th>
    <th scope='col'> <%= t('challenges.attr.files') %> </th>
  </tr>
  </thead>
  <tbody> <%= render challenge %> </tbody>
</table>

<div> <%= t('shared.attr.description') %> </div>
<div> <%= challenge.description %> </div>
<% if challenge.files.attached? %>
  <div> <%= challenge.files %> </div>
<% end %>

<hr>
<% if challenge.repository %>
  <% if policy(challenge.repository).update? %>
    <p> <%= button_to t('repositories.btn.fetch-readme'), login_repository_path(challenge.repository), method: :patch %> </p>
  <% end %>
  <div>
    <h6> README: </h6>
    <div> <%= sanitize challenge.repository.readme %> </div>
  </div>
<% end %>
<br>

<hr>


<div>
  <div>
    <%= t('challenges.show.solution-count', data: pluralize(challenge.answers.count, 'solution')) %>
  </div>

  <p> <%= t('staff.doc_links.phrase-documents') %></p>
  <table class='table'>
    <thead>
    <tr>
      <th scope='col'> <%= t('shared.link_show') %> </th>
      <th scope='col'> <%= t('staff.doc_links.attr.type.label') %> </th>
    </tr>
    </thead>
    <tbody> <%= render challenge.doc_links %> </tbody>
  </table>
</div>

<hr>

<div> <%= t('challenges.show.restriction-phrase') %> </div>
<br>
<div>
  <table class='table'>
    <thead>
    <tr>
      <th scope='col'> <%= t('shared.attr.status.label') %> </th>
      <th scope='col'> <%= t('challenges.attr.signature') %> </th>
      <th scope='col'> <%= t('answers.attr.comments') %> </th>
      <th scope='col'> <%= t('repositories.attr.github_url') %> </th>
      <th scope='col'> <%= t('answers.attr.youtube-url') %> </th>
      <th scope='col'> <%= t('shared.link_show') %> </th>
    </tr>
    </thead>
    <tbody> <%= render challenge.answers %> </tbody>
  </table>
</div>
