<h1>Challenges#show</h1>

<div>
  <ul>
    <li><%= t('challenges.attr.title') %> <%= challenge.title %> </li>
    <li><%= t('challenges.attr.description') %> <%= challenge.description %> </li>
    <li><%= t('challenges.attr.url') %> <%= challenge.url %> </li>
    <li><%= t('challenges.attr.signature') %> <%= challenge.signature %> </li>
    <li><%= t('challenges.attr.difficulty') %> <%= challenge.difficulty %> </li>
    <li><%= t('challenges.attr.duration') %> <%= challenge.duration %> </li>
    <li><%= t('challenges.attr.files') %> <%= challenge.files %> </li>
  </ul>
</div>
