<% if current_user.admin %>
  <hr>
  <div> <%= link_to t('shared.link_admin_version'), staff_challenge_path(challenge) %> </div>
  <hr>
<% end %>
<%= link_to t('shared.back'), :back %>
<hr>

<div> <%= link_to t('answers.links.new-answer'), new_login_challenge_answer_path(challenge) %> </div>
<hr>

<h3> <%= t('challenges.show.title', title: challenge.title) %> </h3>
<div>
  <ul>
    <li> <%= t('challenges.attr.description') %> <%= challenge.description %> </li>
    <li> <%= t('repositories.attr.github_url') %> <%= link_to challenge.repository.github_url, challenge.repository.github_url %> </li>
    <li> <%= t('challenges.attr.signature') %> <%= challenge.signature %> </li>
    <li> <%= t('challenges.attr.difficulty.label') %> <%= t('challenges.attr.difficulty.value', value: challenge.difficulty) %> </li>
    <li> <%= t('challenges.attr.duration.label') %> <%= t('challenges.attr.duration.value', value: challenge.duration) %> </li>
    <% if challenge.files.attached? %>
      <li><%= t('challenges.attr.files') %> <%= challenge.files %> </li>
    <% end %>
  </ul>
</div>

<hr>
<% if challenge.repository %>
  <% if policy(challenge.repository).update? %>
    <p> <%= button_to t('repositories.btn.fetch-readme'), login_repository_path(challenge.repository), method: :patch %> </p>
  <% end %>
  <div>
    <h6> README: </h6>
    <div> <%= sanitize challenge.repository.readme %> </div>
  </div>
<% end %>
<br>

<hr>

<div>
  <%= t('challenges.show.solution-count', data: pluralize(challenge.answers.count, 'solution')) %>
</div>

<div> <%= t('challenges.show.restriction-phrase') %> </div>
<br>
<div>
  <% challenge.answers.each do |answer| %>
    <% if policy(answer).show? %>
      <p> <%= link_to t('challenges.show.answer-link', author: answer.user.login), login_challenge_answer_path(challenge, answer) %> </p>
    <% else %>
      <p> <%= link_to t('challenges.show.answer-link', author: answer.user.login), login_challenge_answer_path(challenge, answer), class: 'btn disabled' %> </p>
    <% end %>
  <% end %>
</div>

<hr>

<div>
  <p> <%= t('staff.doc_links.phrase-documents') %></p>
  <br>
  <% challenge.doc_links.each do |doc_link| %>
    <%= link_to doc_link.doc.title, login_doc_path(doc_link.doc) %>
  <% end %>
</div>
