<div class='slim-container'>
  <%= turbo_frame_tag student do %>
    <%= form_with model: [:staff, student] do |f| %>
      <%= f.label :description, t('shared.attr.description') %>
      <br>
      <%= f.rich_text_area :description, size: '70x5' %>
      <br>
      <%= f.label :status, t('academy.students.attr.status.label') %>
      <%= f.select :status, collection: Student.statuses.keys %>
      <br>
      <br>
      <%= f.submit t('shared.submit_form') %>
    <% end %>
    <br>
    <%= link_to t('shared.back'), staff_student_path(student) %>
  <% end %>
</div>
