<div class='slim-container'>
  <h3>Staff::Students#index</h3>

  <%= link_to t('shared.back'), :back %>
  <br>
  <hr>

  <table class='table'>
    <thead>
    <tr>
      <th scope='col'> <%= t('users.attr.name') %> </th>
      <th scope='col'> <%= t('shared.link_show') %> </th>
      <th scope='col'> <%= t('shared.attr.status.label') %> </th>
      <th scope='col'> <%= t('shared.attr.created-at') %> </th>
    </tr>
    </thead>
    <tbody> <%= render students %> </tbody>
  </table>
</div>
