<div class='slim-container'>
  <h3>Staff::Students#show</h3>

  <%= link_to t('shared.back'), :back %>
  <br>
  <hr>

  <%= render partial: 'staff/users/statuses', locals: { user: student.user } %>
  <br>

  <h5> <%= t('shared.profiles.user') %> </h5>
  <table class='table'>
    <thead>
    <tr>
      <th scope='col'> <%= t('users.attr.name') %> </th>
      <th scope='col'> <%= t('users.attr.language.label') %> </th>
      <th scope='col'> <%= t('shared.attr.created-at') %> </th>
      <th scope='col'> <%= t('shared.link_show') %> </th>
      <th scope='col'> <%= t('shared.link_edit') %> </th>
      <th scope='col'> <%= t('shared.link_blacklist') %> </th>
    </tr>
    </thead>
    <tbody> <%= render student.user %> </tbody>
  </table>

  <br>
  <hr>
  <br>

  <%= turbo_frame_tag student do %>
    <h5> <%= t('shared.profiles.student') %> <%= link_to t('shared.link_edit'), edit_staff_student_path(student) %> </h5>
    <table class='table'>
      <thead>
      <tr>
        <th scope='col'> <%= t('users.attr.name') %> </th>
        <th scope='col'> <%= t('shared.link_show') %> </th>
        <th scope='col'> <%= t('shared.attr.status.label') %> </th>
        <th scope='col'> <%= t('shared.attr.created-at') %> </th>
      </tr>
      </thead>
      <tbody> <%= render student %> </tbody>
    </table>
    <br>
    <hr>
    <br>
    <div>
      <div> <%= t('shared.attr.description') %> </div>
      <br>
      <div> <%= student.description %> </div>
    </div>
  <% end %>
</div>
