<h1> Home </h1>

<h4> <%= t('static_pages.welcome') %> </h4>

<div>
  <p> <%= t('static_pages.catch-phrase-1') %> </p>
  <p> <%= t('static_pages.catch-phrase-2') %> </p>
</div>

<div>
  <p> <%= t('static_pages.challenge-link') %> <%= link_to t('static_pages.click'), login_challenges_path %></p>
  <p> <%= t('static_pages.contact-link') %> <%= link_to t('static_pages.click'), login_challenges_path %></p>
</div>
