<div class='space-around'>
  <h2 class='margin-auto'> <%= t('session.new.connect') %></h2>
  <div class='margin-auto'>
    <% if Rails.env.production? %>
      <div> <%= link_to image_tag('github.png', size: '100x100'), @github_oauth_url, target: '_blank', class: 'button' %> </div>
    <% else %>
      <div> <%= button_to image_tag('github.png', size: '120x120'), session_path, class: 'button' %> </div>
    <% end %>
  </div>
</div>

<br>
<br>
<br>
<br>
<hr class='bold'>
<br>
<br>
<br>

<div class='container-row font-lg'>
  <div> <%= t('session.new.when-connected') %> </div>
  <ul class='margin-left-md'>
    <li> <%= t('session.new.challenge') %> </li>
    <li> <%= t('session.new.answer') %> </li>
    <br>
    <li> <%= t('session.new.coach') %> </li>
    <br>
    <li> <%= t('session.new.recruitment') %> </li>
  </ul>
</div>
