<h3> <%= t('admins.show.title') %> </h3>
<br>
<%= link_to t('shared.back'), :back %>
<hr>
<br>


<div>
  <ul>
    <li> <%= link_to 'Challenges', staff_challenges_path %> </li>
    <li> <%= link_to 'Answers', staff_answers_path %> </li>
    <li> <%= link_to 'Users', staff_users_path %> </li>
    <li> <%= link_to 'Docs', staff_docs_path %> </li>
    <li> <%= link_to 'Coaches', staff_coaches_path %> </li>
    <li> <#%= link_to 'Students', staff_students_path %> </li>
  </ul>
</div>
