<div class='container'>
  <div>
    <div class='slim-container'> <%= t('mentor.mentorship_sessions.show.approved-time-slots', count: mentorship_session.approved_time_slots.count) %> </div>
    <div class='slim-container'> <%= t('mentor.mentorship_sessions.show.coach-approved-time-slots', count: mentorship_session.coach_approved_time_slots.count) %> </div>
    <div class='slim-container'> <%= t('mentor.mentorship_sessions.show.student-approved-time-slots', count: mentorship_session.student_approved_time_slots.count) %> </div>
  </div>

  <div class='slim-container'>
    <%= calendar(calendar_hash) do |date, time_slots| %>
      <%= date %>
      <hr>
      <%= turbo_stream_from mentorship_session %>
      <div id='time_slots'> <%= render time_slots %> </div>
    <% end %>
  </div>
</div>
