<h3>Login::Students#new</h3>

<% if current_user.student %>
  <div>
    <% if current_user.student.ready? %>
      <%= link_to 'Student Dashboard', academy_student_path(current_user.student) %>
    <% else %>
      <%= t('coaches.messages.admin-message-sent') %>
      <%= link_to 'Messages', login_conversation_path(0) %>
    <% end %>
  </div>
<% else %>
  <div>
    <h3> <%= t('students.new-student-phrase') %></h3>
    <div>
      <%= form_with model: [:login, @new_student] do |f| %>

        <%= f.label :description %>
        <%= f.rich_text_area :description, size: '70x5' %>
        <br>
        <%= f.submit t('shared.submit_form') %>
      <% end %>
    </div>
  </div>
<% end %>
