<h1>Staff::Users#index</h1>
<%= link_to t('shared.back'), :back %>
<br>
<hr>

<table class='table'>
  <thead>
  <tr>
    <th scope='col'> <%= t('users.attr.name') %> </th>
    <th scope='col'> <%= t('users.attr.language.label') %> </th>
    <th scope='col'> <%= t('shared.attr.created-at') %> </th>
    <th scope='col'> <%= t('shared.link_show') %> </th>
    <th scope='col'> <%= t('shared.link_edit') %> </th>
    <th scope='col'> <%= t('shared.link_blacklist') %> </th>
  </tr>
  </thead>
  <tbody> <%= render users %> </tbody>
</table>
