<div class='slim-container'>
  <%= calendar(calendar_hash) do |date, time_slots| %>
    <%= date %>
    <hr>
    <% time_slots.each do |time_slot| %>
      <div> <%= time_slot.start_date %> </div>
      <% case
         when time_slot.approved %>
        <div class='border-thin time-slot-approved'> <%= button_to t('academy.time_slots.approved-slot'), mentor_mentorship_session_time_slot_path(time_slot.mentorship_session, time_slot, coach_approval: false), method: :patch %></div>
      <% when time_slot.coach_approval %>
        <div class='border-thin time-slot-coach'> <%= button_to t('academy.time_slots.coach-accepted'), mentor_mentorship_session_time_slot_path(time_slot.mentorship_session, time_slot, coach_approval: false), method: :patch %></div>
      <% when time_slot.student_approval %>
        <div class='border-thin time-slot-student'> <%= button_to t('academy.time_slots.student-accepted'), mentor_mentorship_session_time_slot_path(time_slot.mentorship_session, time_slot, coach_approval: true), method: :patch %></div>
      <% else %>
        <div class='border-thin time-slot-not-approved'> <%= button_to t('academy.time_slots.nobody-accepted'), mentor_mentorship_session_time_slot_path(time_slot.mentorship_session, time_slot, coach_approval: true), method: :patch %></div>
      <% end %>
    <% end %>
  <% end %>
</div>
