<div>
  <ul>
    <li> <%= t('users.attr.name') %> <%= user.login %> </li>
    <li> <%= t('users.attr.email') %> <%= user.email %> </li>
    <li> <%= t('users.attr.bio') %> <%= user.bio %> </li>
    <li> <%= t('users.attr.html_url') %> <%= user.html_url %> </li>
    <li> <%= t('users.attr.avatar_url') %> <%= user.avatar_url %> </li>
    <li> <%= t('users.attr.blog') %> <%= user.blog %> </li>
    <li> <%= t('users.attr.followers') %> <%= user.followers %> </li>
    <li> <%= t('users.attr.language') %> <%= user.language %> </li>
    <li> <%= t('shared.attr.created-at') %><%= user.created_at %> </li>

  </ul>
</div>
