<tr>
  <td> <%= user.login %> </td>
  <td> <%= user.email %> </td>
  <td> <%= user.html_url %> </td>
  <td> <%= t("users.attr.language.#{user.language}") %> </td>
  <td> <%= user.created_at %> </td>
</tr>
