<h3> <%= t('users.welcome') %> </h3>
<br>

<table class='table'>
  <thead>
  <tr>
    <th scope='col'> <%= t('users.attr.name') %> </th>
    <th scope='col'> <%= t('users.attr.email') %> </th>
    <th scope='col'> <%= t('users.attr.html_url') %> </th>
    <th scope='col'> <%= t('users.attr.language.label') %> </th>
    <th scope='col'> <%= t('shared.attr.created-at') %> </th>
  </tr>
  </thead>
  <tbody> <%= render current_user %> </tbody>
</table>
<br>

<div>
  <div> <%= t('users.attr.bio') %> </div>
  <div> <%= current_user.bio %></div>
  <br>
  <ul>
    <li> <%= t('users.attr.avatar_url') %> <%= current_user.avatar_url %> </li>
    <li> <%= t('users.attr.blog') %> <%= current_user.blog %> </li>
    <li> <%= t('users.attr.followers') %> <%= current_user.followers %> </li>
  </ul>
</div>
<br>
<hr>
<div>
  <%= t('users.my-challenges') %>

  <table class='table'>
    <thead>
    <tr>
      <th scope='col'> <%= t('shared.attr.title') %> </th>
      <th scope='col'> <%= t('shared.attr.description') %> </th>
      <th scope='col'> <%= t('repositories.attr.github_url') %> </th>
      <th scope='col'> <%= t('challenges.attr.signature') %> </th>
      <th scope='col'> <%= t('challenges.attr.difficulty.label') %> </th>
      <th scope='col'> <%= t('challenges.attr.duration.label') %> </th>
      <th scope='col'> <%= t('shared.link_show') %> </th>
      <th scope='col'> <%= t('challenges.attr.files') %> </th>
    </tr>
    </thead>
    <tbody> <%= render current_user.challenges %> </tbody>
  </table>
</div>

<hr>

<div>
  <%= t('users.my-answers') %>

  <table class='table'>
    <thead>
    <tr>
      <th scope='col'> <%= t('shared.attr.status.label') %> </th>
      <th scope='col'> <%= t('challenges.attr.signature') %> </th>
      <th scope='col'> <%= t('answers.attr.comments') %> </th>
      <th scope='col'> <%= t('repositories.attr.github_url') %> </th>
      <th scope='col'> <%= t('answers.attr.youtube-url') %> </th>
      <th scope='col'> <%= t('challenges.show.answer-link', author: '?') %> </th>
    </tr>
    </thead>
    <tbody> <%= render current_user.answers %> </tbody>
  </table>
</div>
