<h3>Staff::Answers#index</h3>
<%= link_to t('shared.back'), :back %>
<br>
<hr>
<br>

<table class='table'>
  <thead>
  <tr>
    <th scope='col'> <%= t('shared.attr.title') %> </th>
    <th scope='col'> <%= t('shared.attr.author') %> </th>
    <th scope='col'> <%= t('shared.attr.created-at') %> </th>
    <th scope='col'> <%= t('repositories.attr.github_url') %> </th>
    <th scope='col'> <%= t('answers.attr.youtube-url') %> </th>
    <th scope='col'> <%= t('answers.attr.signature') %> </th>
    <th scope='col'> <%= t('shared.attr.status.label') %> </th>
  </tr>
  </thead>
  <tbody> <%= render answers %> </tbody>
</table>
