<h1>Staff::Answers#show</h1>
<%= link_to t('shared.back'), :back %>
<br>
<hr>
<%= link_to t('shared.link_edit'), edit_staff_challenge_answer_path(challenge, answer) %>
<%= button_to t('shared.link_destroy'), staff_challenge_answer_path(challenge, answer), method: :delete, data: { confirm: t('shared.destroy-warning') } %>
<hr>

<div> <%= link_to t('answers.links.new-answer'), new_staff_challenge_answer_path(challenge) %> </div>
<hr>

<%= render partial: 'login/answers/list', locals: { answer: answer } %>


<% if answer.repository %>
  <p> <%= button_to t('repositories.btn.fetch-readme'), login_repository_path(answer.repository), method: :patch %> </p>
  <div>
    <h6> README: </h6>
    <div> <%= sanitize answer.repository.readme %> </div>
  </div>
<% end %>
