<h1>Staff::Answers#show</h1>
<%= link_to t('shared.back'), :back %>
<br>
<hr>
<%= link_to t('shared.link_edit'), edit_staff_challenge_answer_path(challenge, answer) %>
<%= button_to t('shared.link_destroy'), staff_challenge_answer_path(challenge, answer), method: :delete, data: { confirm: t('shared.destroy-warning') } %>
<hr>

<div> <%= link_to t('answers.links.new-answer'), new_staff_challenge_answer_path(challenge) %> </div>
<hr>

<%= render partial: 'login/answers/list', locals: { answer: answer } %>


<% if answer.repository %>
  <p> <%= button_to t('repositories.btn.fetch-readme'), login_repository_path(answer.repository), method: :patch %> </p>
  <div>
    <h6> README: </h6>
    <div> <%= sanitize answer.repository.readme %> </div>
  </div>
<% end %>

<br>
<hr>
<br>

<div>
  <p> <%= t('staff.doc_links.phrase-answers') %></p>
  <br>
  <% answer.doc_links.each do |doc_link| %>
    <%= link_to doc_link.doc.title, staff_doc_path(doc_link.doc) %>
    <%= button_to t('shared.link_destroy'), staff_doc_link_path(doc_link), method: :delete, data: { confirm: t('shared.destroy-warning') } %>
  <% end %>
  <br>
  <p> <%= link_to t('staff.doc_links.new.link-challenge-answer'), new_staff_doc_link_path %> </p>
</div>
