<h3>Staff::Challenges#new</h3>

<h4> <%= t('challenges.custom-text') %> </h4>

<%= form_with model: [:staff, @new_challenge] do |f| %>
  <%= f.label :title, t('challenges.attr.title') %>
  <br>
  <%= f.text_field :title %>
  <br>
  <br>

  <%= f.label :description, t('challenges.attr.description') %>
  <br>
  <%= f.rich_text_area :description, size: "70x5" %>
  <br>
  <br>

  <%= f.label :url, t('challenges.attr.url') %>
  <br>
  <%= f.text_field :url %>
  <br>
  <br>

  <%= f.label :duration, t('challenges.attr.duration.label') %>
  <br>
  <%= f.number_field :duration, in: 10..1000, step: 10 %>
  <br>
  <br>

  <%= f.label :status, t('challenges.attr.status.label') %>
  <br>
  <%= f.select :status, Challenge.statuses.keys %>
  <br>
  <br>

  <%= f.label :difficulty, t('challenges.attr.difficulty.label') %>
  <br>
  <%= f.number_field :difficulty, in: 1..10 %>
  <br>
  <br>
  <%= f.label :files, t('challenges.attr.files') %>
  <br>
  <%= f.file_field :files, multiple: true, accept: 'application/zip' %>
  <br>
  <br>

  <%= f.label :signature, t('challenges.attr.signature') %>
  <br>
  <%= f.text_field :signature %>
  <br>
  <br>

  <%= f.submit t('shared.submit_form') %>
<% end %>
