<h3>Staff::Challenges#show</h3>
<%= link_to t('shared.back'), :back %>
<br>
<hr>

<%= link_to t('shared.link_edit'), edit_staff_challenge_path(challenge) %>
<%= button_to t('shared.link_destroy'), staff_challenge_path(challenge), method: :delete, data: { confirm: t('shared.destroy-warning') } %>
<hr>
<h4> <%= t('challenges.show.title', title: challenge.title) %> </h4>

<div>
  <ul>
    <li> <%= t('challenges.attr.description') %> <%= challenge.description %> </li>
    <li> <%= t('challenges.attr.status.label') %> <%= t("challenges.attr.status.values.#{challenge.status}") %> </li>
    <li> <%= t('repositories.attr.github_url') %> <%= link_to challenge.repository.github_url, challenge.repository.github_url %> </li>
    <li> <%= t('challenges.attr.signature') %> <%= challenge.signature %> </li>
    <li> <%= t('challenges.attr.difficulty.label') %> <%= t('challenges.attr.difficulty.value', value: challenge.difficulty) %> </li>
    <li> <%= t('challenges.attr.duration.label') %> <%= t('challenges.attr.duration.value', value: challenge.duration) %> </li>
    <% if challenge.files.attached? %>
      <li><%= t('challenges.attr.files') %> <%= challenge.files %> </li>
    <% end %>
  </ul>
</div>

<hr>

<%= link_to t('answers.links.new-answer'), new_staff_challenge_answer_path(challenge) %>
<br><br>

<div>
  <%= t('challenges.show.solution-count', data: pluralize(challenge.answers.count, 'solution')) %>
</div>

<div>
  <% challenge.answers.each do |answer| %>
    <p>
      <%= link_to t('challenges.show.answer-link', author: answer.user.login), staff_challenge_answer_path(challenge, answer) %>
    </p>
  <% end %>
</div>

<hr>
<div>
  <p> <%= t('staff.doc_links.phrase-documents') %></p>
  <br>
  <% challenge.doc_links.each do |doc_links| %>
    <%= link_to doc_link.doc.title, staff_doc_path(doc_links.linkable) %>
    <%= button_to t('shared.link_destroy'), staff_doc_link_path(doc_link), method: :delete, data: { confirm: t('shared.destroy-warning') } %>
  <% end %>
  <br>
  <p> <%= link_to t('staff.doc_links.new.link'), new_staff_doc_link_path %> </p>
</div>
