<h3>Staff::Challenges#show</h3>
<%= link_to t('shared.back'), :back %>
<br>
<hr>

<div> <%= link_to t('answers.links.new-answer'), new_staff_challenge_answer_path(challenge) %> </div>
<div> <%= button_to t('shared.link_destroy'), staff_challenge_path(challenge), method: :delete, data: { confirm: t('shared.destroy-warning') } %> </div>
<div> <%= link_to t('staff.doc_links.new.link-challenge-answer'), new_staff_doc_link_path %> </div>

<hr>
<%= turbo_frame_tag challenge do %>
  <h4> <%= t('challenges.show.title', title: challenge.title) %>
    / <%= link_to t('shared.link_edit'), edit_staff_challenge_path(challenge) %> </h4>

  <table class='table'>
    <thead>
    <tr>
      <th scope='col'> <%= t('challenges.attr.title') %> </th>
      <th scope='col'> <%= t('challenges.attr.difficulty.label') %> </th>
      <th scope='col'> <%= t('shared.attr.status.label') %> </th>
      <th scope='col'> <%= t('challenges.attr.duration.label') %> </th>
      <th scope='col'> <%= t('shared.attr.created-at') %> </th>
      <th scope='col'> <%= t('shared.attr.description') %> </th>
      <th scope='col'> <%= t('shared.link_show') %> </th>
    </tr>
    </thead>
    <tbody> <%= render challenge %> </tbody>
  </table>

  <div>
    <div> <%= t('shared.attr.description') %> </div>
    <br>
    <div> <%= challenge.description %> </div>
  </div>
  <br>
  <div>
    <div> <%= t('repositories.attr.github_url') %> </div>
    <div> <%= link_to challenge.repository.github_url, challenge.repository.github_url %> </div>
  </div>
  <br>
  <div>
    <div> <%= t('challenges.attr.signature') %> </div>
    <div> <%= challenge.signature %> </div>
  </div>

  <div>
    <% if challenge.files.attached? %>
      <div><%= t('challenges.attr.files') %> <%= challenge.files %> </div>
    <% end %>
  </div>
<% end %>
<hr>

<br><br>

<div>
  <%= t('challenges.show.solution-count', data: pluralize(challenge.answers.count, 'solution')) %>
</div>

<table class='table'>
  <thead>
  <tr>
    <th scope='col'> <%= t('shared.attr.title') %> </th>
    <th scope='col'> <%= t('shared.attr.author') %> </th>
    <th scope='col'> <%= t('shared.attr.created-at') %> </th>
    <th scope='col'> <%= t('repositories.attr.github_url') %> </th>
    <th scope='col'> <%= t('answers.attr.youtube-url') %> </th>
    <th scope='col'> <%= t('answers.attr.signature') %> </th>
    <th scope='col'> <%= t('shared.attr.status.label') %> </th>
  </tr>
  </thead>
  <tbody> <%= render challenge.answers %> </tbody>
</table>

<hr>
<div>
  <p> <%= t('staff.doc_links.phrase-documents') %></p>
  <br>

  <table class='table'>
    <thead>
    <tr>
      <th scope='col'> <%= t('shared.link-associated') %> </th>
      <th scope='col'> <%= t('docs.links.show') %> </th>
      <th scope='col'> <%= t('staff.doc_links.attr.type.label') %> </th>
      <th scope='col'> <%= t('shared.link_destroy') %> </th>
    </tr>
    </thead>
    <tbody> <%= render challenge.doc_links %> </tbody>
  </table>
</div>
