<h1>Challenges#index</h1>

<div> <%= link_to t('challenges.new-challenge'), new_challenge_path %> </div>

<div>
  <% challenges.each do |challenge| %>
    <ul>
      <li><%= t('challenges.attr.title') %> <%= challenge.title %> </li>
      <li><%= t('challenges.attr.difficulty') %> <%= challenge.difficulty %> </li>
      <li><%= t('challenges.attr.duration') %> <%= challenge.duration %> </li>
    </ul>
  <% end %>
</div>
