<div class='container'>
  <h3>Academy::Students#show</h3>
  <br>
  <%= turbo_frame_tag student do %>
    <div class='slim-container'> <%= t('academy.students.show.visibility-phrase') %> <%= t("academy.students.attr.status.#{student.status}") %> </div>
    <div class='slim-container'> <%= t('shared.attr.created-at') %> <%= student.created_at %> </div>
    <br>
    <div class='slim-container'> <%= t('shared.attr.description') %> <%= student.description %> </div>
    <div class='slim-container'> <%= link_to t('shared.link_edit'), edit_academy_student_path %> </div>
  <% end %>
  <br>
  <br>


  <div> <%= link_to t('mentor.users.all-mentorship-sessions'), academy_mentorship_sessions_path %> </div>

  <div> <%= t('mentor.users.all-mentorships') %> </div>
  <table class='table'>
    <thead>
    <tr>
      <th scope='col'> <%= t('mentor.mentorships.attr.coach-name') %> </th>
      <th scope='col'> <%= t('mentor.mentorships.attr.student-name') %> </th>
      <th scope='col'> <%= t('mentor.mentorships.attr.coach-approval') %> </th>
      <th scope='col'> <%= t('mentor.mentorships.attr.student-approval') %> </th>
      <th scope='col'> <%= t('shared.attr.created-at') %> </th>
      <th scope='col'> <%= t('shared.attr.updated-at') %> </th>
      <th scope='col'> <%= t('shared.link_show') %> </th>
    </tr>
    </thead>
    <tbody> <%= render student.mentorships %> </tbody>
  </table>
</div>
