<div class='container' id='student_show'>
  <h3>Academy::Students#show</h3>
  <br>
  <%= turbo_frame_tag student do %>
    <div class='slim-container'> <%= t('academy.students.show.visibility-phrase') %> <%= t("academy.students.attr.status.#{student.status}") %> </div>
    <div class='slim-container'> <%= t('shared.attr.created-at') %> <%= student.created_at %> </div>
    <br>
    <div class='slim-container'> <%= t('shared.attr.description') %> <%= student.description %> </div>
    <div class='slim-container'> <%= link_to t('shared.link_edit'), edit_academy_student_path %> </div>
  <% end %>
  <br>
  <br>

  <div>
    <% student.mentorships.each do |mentorship| %>
      <%= t('mentor.users.all-mentorships') %>
      <ul>
        <li> <%= "#{t('shared.attr.coach-name')} #{mentorship.coach.login}" %> </li>
        <li> <%= link_to t('shared.link_show'), academy_mentorship_path(mentorship) %> </li>
      </ul>
    <% end %>
  </div>
</div>
