<div class='slim-container'>
  <ul>
    <li> <%= t('mentor.mentorships.attr.coach-name') %> <%= mentorship.coach.user.login %> </li>
    <li> <%= t('mentor.mentorships.attr.student-name') %> <%= mentorship.student.login %> </li>
    <li> <%= t('mentor.mentorships.attr.coach-approval') %> <%= mentorship.coach_approval %> </li>
    <li> <%= t('mentor.mentorships.attr.student-approval') %> <%= mentorship.student_approval %> </li>
    <li> <%= t('shared.attr.created-at') %> <%= mentorship.created_at %> </li>
    <li> <%= t('shared.attr.updated-at') %> <%= mentorship.updated_at %> </li>
  </ul>
</div>
