<h3>Mentor::Mentorships#index</h3>

<br>
<%= link_to t('shared.back'), :back %>
<hr>
<br>

<table class='table'>
  <thead>
  <tr>
    <th scope='col'> <%= t('mentor.mentorships.attr.coach-name') %> </th>
    <th scope='col'> <%= t('mentor.mentorships.attr.student-name') %> </th>
    <th scope='col'> <%= t('mentor.mentorships.attr.coach-approval') %> </th>
    <th scope='col'> <%= t('mentor.mentorships.attr.student-approval') %> </th>
    <th scope='col'> <%= t('shared.attr.created-at') %> </th>
    <th scope='col'> <%= t('shared.attr.updated-at') %> </th>
    <th scope='col'> <%= t('shared.link_edit') %> </th>
  </tr>
  </thead>
  <tbody> <%= render mentorships %> </tbody>
</table>
