<h3>Mentor::Mentorships#show</h3>

<br>
<%= link_to t('shared.back'), :back %>
<hr>
<br>

<div>
  <ul>
    <li> <%= t('mentor.mentorships.attr.coach-name') %> <%= mentorship.coach.user.login %> </li>
    <li> <%= t('mentor.mentorships.attr.student-name') %> <%= link_to mentorship.student.user.login, mentor_student_path(mentorship.student) %> </li>
    <li> <%= t('mentor.mentorships.attr.coach-approval') %> <%= mentorship.coach_approval %> </li>
    <li> <%= t('mentor.mentorships.attr.student-approval') %> <%= mentorship.student_approval %> </li>
    <li> <%= t('shared.attr.created-at') %> <%= mentorship.created_at %> </li>
    <li> <%= link_to t('shared.link_edit'), edit_mentor_mentorship_path(mentorship) %> </li>
  </ul>
</div>
