<% if current_user.admin %>
  <hr>
  <div> <%= link_to t('shared.link_admin_version'), staff_docs_path %> </div>
  <hr>
<% end %>

<div> <%= link_to t('shared.back'), :back %> </div>
<div> <%= link_to t('staff.doc_links.new.link-challenge-answer'), new_login_doc_link_path %> </div>
<hr>

<h3> <%= t('docs.index.title-phrase-1') %> </h3>
<br>
<h4> <%= t('docs.index.title-phrase-2') %> </h4>
<br>
<hr>

<div>
  <%= t('docs.index.docs-count', data: @count_phrase) %>
</div>
<br>
<table class='table'>
  <thead>
  <tr>
    <th scope='col'> <%= t('docs.attr.title') %> </th>
    <th scope='col'> <%= t('docs.attr.tags') %> </th>
    <th scope='col'> <%= t('docs.attr.content') %> </th>
  </tr>
  </thead>
  <tbody> <%= render docs %> </tbody>
</table>
