<% if current_user.admin %>
  <hr>
  <div> <%= link_to t('shared.link_admin_version'), staff_doc_path(doc) %> </div>
  <hr>
<% end %>

<%= link_to t('shared.back'), :back %>
<hr>

<%= render partial: 'login/docs/list', locals: { doc: doc } %>

<hr>
<div>
  <p> <%= t('staff.doc_links.phrase-challenges-answers') %></p>
  <br>
  <div>
    <% doc.doc_links.each do |doc_link| %>
      <ul>
        <li>
          <% if doc_link.linkable.is_a? Challenge %>
            <%= link_to doc_link.linkable.display_nature, login_challenge_path(doc_link.linkable) %>
          <% else %>
            <%= link_to doc_link.linkable.display_nature, login_challenge_answer_path(doc_link.linkable.challenge, doc_link.linkable) %>
          <% end %>
        </li>
      </ul>
    <% end %>
  </div>
</div>


<br>
<hr>
<p> <%= link_to t('staff.doc_links.new.link-challenge-answer'), new_login_doc_link_path %> </p>
