<% if current_user.admin %>
  <hr>
  <div> <%= link_to t('shared.link_admin_version'), staff_doc_path(doc) %> </div>
  <hr>
<% end %>

<%= link_to t('shared.back'), :back %>
<hr>

<%= render partial: 'login/docs/list', locals: { doc: doc } %>

<hr>
<div>
  <p> <%= t('staff.doc_links.phrase-challenges') %></p>
  <br>
  <% doc.doc_links.each do |doc_link| %>
    <%= link_to doc_link.doc.title, staff_doc_path(doc_link.linkable) %>
  <% end %>
</div>
