<h3>Mentor::Students#index</h3>
<br>
<%= link_to t('shared.back'), :back %>
<hr>
<br>

<%= render 'mentor/students/search' %>

<table class='table'>
  <thead>
  <tr>
    <th scope='col'> <%= t('shared.link_show') %> </th>
    <th scope='col'> <%= t('mentor.students.challenges-done') %> </th>
    <th scope='col'> <%= t('shared.attr.created-at') %> </th>
  </tr>
  </thead>
  <tbody> <%= render students %> </tbody>
</table>
