<h3>Mentor::Students#show</h3>
<br>
<%= link_to t('shared.back'), :back %>
<hr>
<br>

<div>
  <ul>
    <li> <%= t('users.attr.name') %> <%= student.user.login %> </li>
    <li> <%= t('shared.attr.created-at') %> <%= student.created_at %> </li>
    <li> <%= t('mentor.students.challenges-done') %> <%= student.user.answers.count %> </li>
  </ul>
</div>

<div>
  <%= button_to t('mentor.students.links.new-mentorship'), mentor_mentorships_path(student_id: student.id), class: 'btn btn-secondary' %>
</div>
