<%= turbo_frame_tag coach do %>
  <div>
    <%= form_with model: [:staff, coach] do |f| %>
      <%= f.label :status, t('staff.coaches.attr.status') %>
      <%= f.select :status, collection: Coach.statuses.keys %>
      <%= f.submit t('shared.submit_form') %>
    <% end %>
    <br>
    <%= link_to t('shared.back'), staff_coach_path(coach) %>
  </div>
<% end %>
