<h3>Staff::Coaches#index</h3>
<br>
<%= link_to t('shared.back'), :back %>
<hr>

<table class='table'>
  <thead>
  <tr>
    <th scope='col'> <%= t('users.attr.name') %> </th>
    <th scope='col'> <%= t('staff.coaches.attr.status') %> </th>
    <th scope='col'> <%= t('shared.link_show') %> </th>
  </tr>
  </thead>
  <tbody> <%= render coaches %> </tbody>
</table>
