<tr>
  <td> <%= link_to doc.title.titleize, staff_doc_path(doc) %> </td>
  <td> <%= doc.tags %> </td>
  <% if I18n.locale == :fr %>
    <td> <%= doc.content_fr.to_plain_text.truncate(50) %> </td>
  <% else %>
    <td> <%= doc.content_en.to_plain_text.truncate(50) %> </td>
  <% end %>
  <td> <%= link_to t('shared.link_edit'), edit_staff_doc_path(doc) %> </td>
  <td> <%= button_to t('shared.link_destroy'), staff_doc_path(doc), method: :delete, data: { confirm: t('shared.destroy-warning') } %> </td>
</tr>
