<h1>Staff::Docs#index</h1>
<%= link_to t('shared.back'), :back %>
<br>
<hr>

<p> <%= link_to t('staff.docs.index.link-new'), new_staff_doc_path %> </p>
<p> <%= link_to t('staff.doc_links.new.link-challenge-answer'), new_staff_doc_link_path %> </p>
<br>
<hr>
<br>


<table class='table'>
  <thead>
  <tr>
    <th scope='col'> <%= t('docs.attr.title') %> </th>
    <th scope='col'> <%= t('docs.attr.tags') %> </th>
    <th scope='col'> <%= t('docs.attr.content') %> </th>
    <th scope='col'> <%= t('shared.link_edit') %> </th>
    <th scope='col'> <%= t('shared.link_destroy') %> </th>
  </tr>
  </thead>
  <tbody> <%= render docs %> </tbody>
</table>
