<h3>Staff::Docs#show</h3>
<div> <%= link_to t('shared.back'), :back %> </div>
<div> <%= link_to t('staff.doc_links.new.link-challenge-answer'), new_login_doc_link_path %> </div>

<hr>
<table class='table'>
  <thead>
  <tr>
    <th scope='col'> <%= t('docs.attr.title') %> </th>
    <th scope='col'> <%= t('docs.attr.tags') %> </th>
    <th scope='col'> <%= t('docs.attr.content') %> </th>
    <th scope='col'> <%= t('shared.link_edit') %> </th>
    <th scope='col'> <%= t('shared.link_destroy') %> </th>
  </tr>
  </thead>
  <tbody> <%= render doc %> </tbody>
</table>

<div>
  <div> <%= t('docs.attr.content') %> </div>
  <br>
  <% if I18n.locale == :fr %>
    <div> <%= doc.content_fr %> </div>
  <% else %>
    <div> <%= doc.content_en %> </div>
  <% end %>
</div>
<br>
<div>
  <p> <%= t('staff.doc_links.phrase-challenges-answers') %> </p>
  <br>
  <table class='table'>
    <thead>
    <tr>
      <th scope='col'> <%= t('shared.link-associated') %> </th>
      <th scope='col'> <%= t('docs.links.show') %> </th>
      <th scope='col'> <%= t('staff.doc_links.attr.type.label') %> </th>
      <th scope='col'> <%= t('shared.link_destroy') %> </th>
    </tr>
    </thead>
    <tbody> <%= render doc.doc_links %> </tbody>
  </table>
  <br>
</div>
