<h3>Staff::Docs#show</h3>
<%= link_to t('shared.back'), :back %>
<br>
<hr>

<%= link_to t('staff.docs.index.link-new'), new_staff_doc_path %>
<br>
<hr>
<%= link_to t('shared.link_edit'), edit_staff_doc_path(doc) %>
<%= button_to t('shared.link_destroy'), staff_doc_path(doc), method: :delete, data: { confirm: t('shared.destroy-warning') } %>
<br>
<hr>
<%= render partial: 'login/docs/list', locals: { doc: doc } %>

<div>
  <p> <%= t('staff.doc_links.phrase-challenges-answers') %> </p>
  <br>
  <% doc.doc_links.each do |doc_link| %>
    <% if doc_link.linkable.is_a? Challenge %>
      <%= link_to "#{doc_link.linkable.class} : #{doc_link.linkable.title}", staff_challenge_path(doc_link.linkable) %>
    <% else %>
      <%= link_to "#{doc_link.linkable.class} : #{doc_link.linkable.title}", staff_challenge_answer_path(doc_link.linkable.challenge, doc_link.linkable) %>
    <% end %>

    <%= button_to t('staff.doc_links.show.link-delete'), staff_doc_link_path(doc_link), method: :delete, data: { confirm: t('shared.destroy-warning') } %>
  <% end %>

  <br>
  <p> <%= link_to t('staff.doc_links.new.link-challenge-answer'), new_staff_doc_link_path %> </p>
</div>
