<h3>Staff::Docs#show</h3>
<%= link_to t('shared.back'), :back %>
<br>
<hr>

<%= link_to t('staff.docs.index.link-new'), new_staff_doc_path %>
<br>
<hr>
<%= link_to t('shared.link_edit'), edit_staff_doc_path(doc) %>
<%= button_to t('shared.link_destroy'), staff_doc_path(doc), method: :delete, data: { confirm: t('shared.destroy-warning') } %>
<br>
<hr>
<%= render partial: 'login/docs/list', locals: { doc: doc } %>
