<div>
  <p> <%= link_to t('shared.back'), :back %> </p>

  <div>
    <%= form_with model: array_model do |f| %>
      <%= f.label :github_url, t('repositories.attr.github_url') %>
      <br>
      <%= f.text_field :github_url %>
      <br><br>
      <%= f.label :youtube_url, t('answers.attr.youtube-url') %>
      <br>
      <%= f.text_field :youtube_url %>
      <br><br>
      <%= f.label :signature, 'Signature: ' %>
      <br>
      <%= f.text_field :signature %>
      <br><br>
      <%= f.label :comments, t('answers.attr.comments') %>
      <br>
      <%= f.text_area :comments, size: '40x7' %>
      <br><br>
      <%= f.label :file, t('answers.attr.file') %>
      <br>
      <%= f.file_field :file, accept: 'application/zip' %>
      <br><br>
      <%= f.submit t('shared.submit_form') %>
    <% end %>
  </div>
</div>
