<div>
  <ul>
    <li> <%= t('answers.attr.youtube-url') %> <%= link_to answer.youtube_url, answer.youtube_url, target: '_blank' %> </li>
    <li> <%= t('answers.attr.youtube-url') %> <%= link_to answer.youtube_url, answer.youtube_url, target: '_blank' %> </li>
    <li> Signature : <%= answer.signature %> </li>
    <li> Status : <%= t("answers.attr.status.#{answer.status}") %> </li>
    <li> <%= t('answers.attr.comments') %> <%= answer.comments %> </li>
    <li> <%= link_to t('answers.show.link-challenge'), login_challenge_path(answer.challenge) %> </li>
    <li> <%= link_to t('answers.show.link-user-personal'), answer.user.blog, target: '_blank' %> </li>
    <li> <%= link_to t('answers.show.link-user-github'), answer.user.html_url, target: '_blank' %> </li>
  </ul>
</div>
