<% if current_user.admin %>
  <hr>
  <div> <%= link_to t('shared.link_admin_version'), staff_challenge_answer_path(challenge, answer) %> </div>
  <hr>
<% end %>

<div> <%= link_to t('answers.links.new-answer'), new_login_challenge_answer_path(challenge) %> </div>
<hr>

<h3> <%= t('answers.show.title', name: answer.challenge.title) %> </h3>

<%= render partial: 'login/answers/list', locals: { answer: answer } %>

<hr>
<% if answer.repository %>
  <% if policy(answer.repository).update? %>
    <p> <%= button_to t('repositories.btn.fetch-readme'), login_repository_path(answer.repository), method: :patch %> </p>
  <% end %>
  <div>
    <h6> README: </h6>
    <div> <%= sanitize answer.repository.readme %> </div>
  </div>
<% end %>
<br>

<hr>

<hr>

<div>
  <p> <%= t('answers.show.link-docs') %></p>
  <br>
  <% answer.doc_links.each do |doc_link| %>
    <%= link_to doc_link.doc.title, login_doc_path(doc_link.doc) %>
  <% end %>
</div>

<% if current_user.owns_answer?(answer.id) %>
  <br>
  <p> <%= link_to t('staff.doc_links.new.link-challenge-answer'), new_staff_doc_link_path %> </p>
<% end %>
