<% if current_user.admin %>
  <hr>
  <div> <%= link_to t('shared.link_admin_version'), staff_answer_path(answer) %> </div>
  <hr>
<% end %>

<div> <%= link_to t('answers.links.new-answer'), new_login_challenge_answer_path(challenge) %> </div>
<hr>

<h3> <%= t('answers.show.title', name: answer.challenge.title) %> </h3>

<%= render partial: 'login/answers/list', locals: { answer: answer } %>

<hr>
<% if answer.repository %>
  <% if policy(answer.repository).update? %>
    <p> <%= button_to t('repositories.btn.fetch-readme'), login_repository_path(answer.repository), method: :patch %> </p>
  <% end %>
  <div>
    <h6> README: </h6>
    <div> <%= sanitize answer.repository.readme %> </div>
  </div>
<% end %>
<br>

<hr>
