<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">RMD</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to 'Home', root_path, class: 'nav-link active' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Challenges', login_challenges_path, class: 'nav-link' %>
        </li>

        <li class="nav-item">
          <%= link_to t('shared.models.doc'), login_docs_path, class: 'nav-link' %>
        </li>

        <li class="nav-item">
          <%= link_to t('shared.navbar.user-dashboard'), login_user_path, class: 'nav-link' %>
        </li>

        <li class="nav-item">
          <%= link_to t('shared.models.conversation-messages'), login_conversation_path('0'), class: 'nav-link' %>
        </li>

        <li class="nav-item">
          <% if current_user&.admin %>
            <%= link_to t('shared.navbar.admin-dashboard'), staff_admin_path, class: 'nav-link' %>
          <% end %>
        </li>

        <li class="nav-item">
          <% if current_user %>
            <%= button_to t('shared.session-disconnect'), session_path, method: :delete, data: { confirm: t('shared.delete-confirmation') }, class: 'nav-link' %>
          <% else %>
            <%= link_to t('shared.session-connect'), new_session_path, class: 'nav-link' %>
          <% end %>
        </li>
      </ul>
      <span class="navbar-text">
        <% if locale == :en %>
          <%= button_to 'FR', locale_path(locale: :fr), method: :patch %>
        <% else %>
          <%= button_to 'EN', locale_path(locale: :en), method: :patch %>
        <% end %>
      </span>
    </div>
  </div>
</nav>
