<h3> Staff / Doc Links Index </h3>

<table class='table'>
  <thead>
  <tr>
    <th scope='col'> <%= t('shared.link-associated') %> </th>
    <th scope='col'> <%= t('docs.links.show') %> </th>
    <th scope='col'> <%= t('staff.doc_links.attr.type.label') %> </th>
    <th scope='col'> <%= t('shared.link_destroy') %> </th>
  </tr>
  </thead>
  <tbody> <%= render doc_links %> </tbody>
</table>
