<h1>Staff::DocLinks#new</h1>
<br>
<%= link_to t('shared.back'), :back %>
<br>
<hr>

<h1>Staff::DocLinks#new</h1>
<br>
<%= link_to t('shared.back'), :back %>
<br>
<hr>

<h3> <%= t('staff.doc_links.new.link-challenge') %> </h3>
<div>
  <%= form_with model: [:staff, @new_doc_link] do |f| %>
    <%= f.label :challenge_id, t('staff.doc_links.new.challenge') %>
    <br>
    <%= f.collection_select :challenge_id, @challenges, :id, :title %>
    <br>
    <br>
    <%= f.label :doc_id, t('staff.doc_links.new.doc') %>
    <br>
    <%= f.collection_select :doc_id, @docs, :id, :title %>
    <br>
    <br>
    <%= f.submit t('shared.submit_form') %>
  <% end %>
</div>

<br>
<hr>
<br>

<h3> <%= t('staff.doc_links.new.link-answer') %> </h3>

<div>
  <div>
    <%= form_with model: [:staff, @new_doc_link] do |f| %>
      <%= f.label :answer_id, t('staff.doc_links.new.answer') %>
      <br>
      <%= f.collection_select :answer_id, @answers, :id, :title %>

      <br>
      <br>
      <%= f.label :doc_id, t('staff.doc_links.new.doc') %>
      <br>
      <%= f.collection_select :doc_id, @docs, :id, :title %>
      <br>
      <br>
      <%= f.submit t('shared.submit_form') %>
    <% end %>
  </div>
</div>
